*, *::before, *::after{
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}