*{
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-o: hsl(26, 100%, 55%);
    --primary-po: hsl(25, 100%, 94%);
    --neutral-darkB: hsl(220, 13%, 13%);
    --neutral-darkGrayBlue:hsl(219, 9%, 45%);
    --neutral-grayBlue: hsl(220, 14%, 75%);
    --neutral-lightGrayBlue: hsl(223, 64%, 98%);
    --neutral-white: hsl(0, 0%, 100%) ;
    --neutral-lightboxBG:hsl(0, 0%, 0%);
}

i{
    font-style: normal;
}

body{
    padding: 20px 10%;
    background-color: var(--neutral-white);
    width: 100vw;
    height: 100vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
}

.navTitle{
    color: var(--neutral-darkB);
    font-size: 30px;
    font-weight: 700;
    margin-right: 60px;
}

.item{
    color: var(--neutral-grayBlue);
    margin-right: 20px;
    cursor: pointer;
}

.item:hover{
    border-bottom: 3px solid var(--primary-o);
    padding-bottom: 38px;
    color: var(--neutral-darkGrayBlue);
}

.navLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic{
    margin-left: 40px;
    cursor: pointer;
}

.profilePic:hover{
    border: 1px solid var(--primary-o);
    border-radius: 50%;
}

.cart{
    position: relative;
    display: inline-block; 
    cursor: pointer;
}

.cartCount{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--primary-o);
    color: var(--neutral-white);
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 8px;
}

.cartDropDown{
    display: block;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 200px;
    width: 300px;
    box-shadow: 0px 0px 20px var(--neutral-grayBlue);
    min-height: 200px;
    margin-top: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.cartIcon{
    filter: brightness(60%);
}

.cartIcon:hover{
    filter: brightness(0);
}

/* thumbnails styling */

.thumbImg{
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
}

.mr{
    margin-right: 15px;
}

.main{
    padding-top: 70px;
    display: flex;
    margin: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#mainImage{
    margin-bottom: 30px;
}

#thumbnails img:hover{
    filter: opacity(40%) ;
}

.defPic{
    border-radius: 10px; 
}

#thumbimg4{
    margin: 0;
}

.thumbImg.active{
    border: 3px solid var(--primary-o);
    opacity: 40%;
}

.picContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description{
    flex-wrap: wrap;
    max-width: 450px;
    margin-left: 20px
}

.descHeader{
    padding-bottom: 30px;
}

.itemTitle{
    font-weight: 700;
    font-size: 40px;
    margin-top: 20px;
}

.priceContainer{
    padding: 20px 0;
    display: flex;
}

.price h1{
    width:fit-content;
    padding: 0 10px 10px 0;
}

.price p{
    color: var(--neutral-grayBlue);
    text-decoration: line-through;
    font-size: 13px;
}

.itemDesc{
    color: var(--neutral-grayBlue);
    font-size: 16px;
}

.titleText{
    color: var(--primary-o);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 550;
}

.discount p{
    background-color: var(--primary-po);
    color: var(--primary-o);
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
    
}
.discount{
    padding-top: 5px ;
}

.itemControls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count input{
    outline: none;
    border: none;
    text-align: center;
    max-width: 50px;
    cursor: default;
    background-color: var(--neutral-lightGrayBlue);
    font-weight: 700;
}

.count {
    width: fit-content;
    background-color: var(--neutral-lightGrayBlue);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count img{
    padding: 15px 10px;
    cursor: pointer;
}

.count img:hover{
    filter: opacity(40%);
}

.btn{
    padding: 20px 90px;
    border-radius: 10px ;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--primary-o);
    color: var(--neutral-white);
    transition: ease-in-out 0.2s;
}

.btnImg{
    padding-right: 20px;
    width: 35px;
    color: white;
}

.btn:hover{
    opacity: 40%;
    
}


